nav.navbar.navbar-dark.bg-dark.navbar-expand
  a.navbar-brand.mr-auto(href='#') Products
  ul.nav.navbar-nav.navbar-right
    .btn-group.open
      button(data-toggle="modal", data-target="#addModal").btn.btn-info
        i.fa.fa-plus
        |  Add Product
      button.btn.btn-primary
        if profile
          if profile.image
            img.rounded-circle(src=profile.image, width=24)
          span.display-name #{profile.displayName} &nbsp;
            a.display-link(href=logout) (logout)
        else
          a.display-link(href=login) Login
