nav.navbar.navbar-dark.bg-dark.navbar-expand
  a.navbar-brand.mr-auto(href='#') Products
  ul.nav.navbar-nav.navbar-right
    .btn-group.open
      button.btn.btn-primary.dropdown-toggle(data-toggle='dropdown')
        i.fa.fa-user.fa-fw
        |  #{user}
      .dropdown-menu.dropdown-menu-right
        a.dropdown-item(href='#')
          i.fa.fa-pencil.fa-fw
          |  Edit
        a.dropdown-item(href='#')
          i.fa.fa-sign-out.fa-fw
          |  Sign Out
