extends _bootstrap
block content
  .container
    .container.text-center
      h2.form-signin-heading Sign in
      p
        a.btn.btn-primary.social-login-btn.social-google(href='/auth/login')
          i.fa.fa-google
